.navigation-bar{
    background-color: black;
    padding:.5rem;
    color:white;
    border-radius: 1rem;

}

 .list-of-nav{
    text-align: left;
    padding-top:.1rem;
}

.div-for-nav{
    font-weight: bold;
}

.nav-list{
    display:block;
    padding: 0.5rem;
}


.navigation-bar .link{
    color:white;
}


.link{
    text-decoration: none;
}

body{
    background-color: grey;
}


.container{
    margin: auto;
    display: inline;
    flex-direction:column;
    width: 50vw;
    
}

.angle-input{
    display: block;
}

#base{
    display: block;

}

#height{
    display: block;
}

#input-side1{
    display: block;
}

#input-side2{
    display: block;
    
}

#check{
    margin-top: 2rem;
}

.check{
    margin-top: 2rem;
}

.button{
    margin-top: 2rem;
}